<html>
	<head>
		<link rel="stylesheet" href="{{url_for('static',filename='inputstyle.css')}}"/>
	</head>
	<body>
		<h2>Clubs:</h2>
		{% for club in clubs %}
			<div style='border-width:1px;border-style:solid'>
				<form method="POST" action="{{url_for('ui.updclub',lang=lang)}}">
					<input type="text" name="name" class="h3" value="{{club.name}}"><br/>
					<label for="meeting">Meeting:</label>
					<input type="text" class="p" name="meeting" id="meeting" value="{{club.meeting}}"><br/>
					<label for="link">Zoom Link:</label>
					<input type="text" class="p" name="link" id="link" value="{{club.link}}"><br/>
					<label for="sponsor">Sponsor:</label>
					<input type="text" class="p" name="sponsor" id="sponsor" value="{{club.sponsor}}"><br/>
					<input type='hidden' name='index' value='{{loop.index-1}}'/>
					<input type="submit" value="Update"/>
				</form>
				<form action="{{url_for('ui.delclub',lang=lang)}}" method="POST">
					<input type="hidden" name="club" value="{{club}}"/>
					<input type="hidden" name="index" value="{{loop.index-1}}"/>
					<input type="submit" value="Delete"/>
				</form>
			</div>
		{% endfor %}
		<h2>New Club:</h2>
		<form method="POST" action="{{url_for('ui.addclub',lang=lang)}}">
			<label for="name">Club Name:</label>
			<input type="text" id="name" name="name"/><br/>
			<label for="meeting">Meeting:</label>
			<input type="text" id="meeting" name="meeting"/><br/>
			<label for="link">Zoom Link:</label>
			<input type="text" id="link" name="link"/><br/>
			<label for="sponsor">Sponsor:</label>
			<input type="text" id="sponsor" name="sponsor"/><br/>
			<input type="submit" value="Submit"/>
		</form>
	</body>
</html>